<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>订单管理</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
</head>
<body>
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">订单管理系统</span>
			<div>
				<a href="/getPageBooks">图书管理</a>
				<a href="/getOrders">订单管理</a>
				<a href="/main">返回商城</a>
			</div>
	</div>
	
	<div id="main">
		<table>
			<tr>
				<th>单号</th>
				<th>日期</th>
				<th>数量</th>
				<th>金额</th>
				<th>详情</th>
				<th>发货</th>
			</tr>		
		{{range .}}
			<tr>
				<td>{{.OrderID}}</td>
				<td>{{.CreateTime}}</td>
				<td>{{.TotalCount}}</td>
				<td>{{.TotalAmount}}</td>
				<td><a href="/getOrderInfo?orderId={{.OrderID}}">查看详情</a></td>
				<td class="state">
					{{if .NoSend}}
					<a href="/sendOrder?orderId={{.OrderID}}">发货</a>
					{{end}}
					{{if .SendComplate}}
					等待确认收货
					{{end}}	
					{{if .Complate}}
					交易完成
					{{end}}
				</td>
			</tr>
		{{end}}		
		</table>
	</div>
	
	<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
	</div>
</body>
</html>